.image-card{
    padding-right: 50px;
    padding-left: 50px;
    width: auto;
    height: auto;
}

.main-product-title{
    padding-bottom: 80px;
    padding-top: 40px;
}


.footer-social-network-icon{
    border-radius: 23px;
    border-width: 2px;
}

.footer-brand{
    padding-left: 10px;
}


.price-red{
    color:red;
    text-decoration:line-through;
    margin-right: 10px;
    font-size: medium;
}

.price-red:hover{
    text-decoration:line-through;
}


.price-green{
    color:green;
    font-weight:bolder;
}


.unit{
    font-size: medium;
}